h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

/* ------------------------------------------------------------------
MAIN
--------------------------------------------------------------------*/

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------------------------
HEADER
--------------------------------------------------------------------*/

.header-cnt {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav-cnt {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-addres-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: #404bbf;
}

.active::after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.nav-addres {
  font-style: normal;
}

.nav-addres-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-addres-item:hover,
.nav-addres-item:focus {
  color: #404bbf;
}

.nav-addres-list {
  display: flex;
}

/* ------------------------------------------------------------------
TITLE
--------------------------------------------------------------------*/

.title-cnt {
  background: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.btn {
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;

  max-width: 169px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* ------------------------------------------------------------------
DCR
--------------------------------------------------------------------*/

.dcr {
  padding-top: 96px;
  padding-bottom: 96px;
}

.dcr-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.dcr-item {
  width: 100%;
}

.dcr-icons-cnt {
  display: none;
}

.dcr-icon {
}

.dcr-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.dcr-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .dcr-list {
    gap: 24px;
    row-gap: 72px;
  }

  .dcr-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .dcr-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .dcr {
    padding: 120px 0;
  }

  .dcr-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .dcr-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .dcr-icons-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
  }
  .dcr-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* ------------------------------------------------------------------
OUR TEAM
--------------------------------------------------------------------*/

.second-cnt {
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}

.second-cnt > .container {
  max-width: 296px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-list-item {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: 100%;
}

.team-list-cnt {
  padding: 32px 0;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-dsc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-soc-item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-list-item:hover .team-soc-item {
  background-color: #404bbf;
}

.team-soc-item:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .second-cnt > .container {
    max-width: 552px;
  }

  .team-list {
    gap: 74px 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .second-cnt {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .second-cnt > .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* ------------------------------------------------------------------
PORTFOLIO
--------------------------------------------------------------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-dcr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.slide {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
/* ------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------*/

.footer-cnt {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-dcr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-dcr {
  margin-right: 120px;
  min-width: 264px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

.footer-form-cnt {
  margin-left: auto;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  min-width: 264px;
  min-height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;

  padding-left: 16px;
}

.footer-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  margin-left: 24px;
}

.footer-btn-icon {
  margin-left: 16px;
  fill: #fff;
}

/* ------------------------------------------------------------------
BACKDROP
--------------------------------------------------------------------*/

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  max-height: 80%;
  overflow-y: auto;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-icon {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-icon {
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.label-wrapper {
  margin-bottom: 8px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  height: 40px;
  padding-left: 38px;
  width: 100%;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + svg {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  padding: 8px 16px;
  min-height: 120px;
  width: 100%;
  resize: none;
  background-color: transparent;
  line-height: 1.17;
}

.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  vertical-align: top;
}

.comment-wrapper {
  margin-bottom: 16px;
}

.modal-check-cnt {
  margin-bottom: 24px;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-span {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check:checked + .modal-check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
}

.modal-btn {
  max-width: 169px;
  max-height: 56px;
  padding: 0;
}
